@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
}

body {
    height: 100vh;
    display: flex;
    background-image: url('./assets/_figuras/_backgrounds/fundo.png');
    background-size: 100%;
}

.menu-lateral {
    position: relative;
    width: 60px;
    transition: .5s;
    overflow: hidden;
    height: 100%;
    background: #135D6D;
    padding: 40px 0px 40px 0%;
    box-shadow: 3px 0 0  #ffffff;
    
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    width: 200px;
    top: -30px;
    left: 50px;
    z-index: -1;
    transition: .5s;
    opacity: 0;
}

/* nav.menu-lateral.expandir {
    width: 290px;
} */
nav.menu-lateral:hover {
    width: 290px;
}

.btn-expandir {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    margin-bottom: 40px;
    margin-left: 10px;
}

.btn-expandir i {
    color: #fff;
    font-size: 40px;
    /* cursor: pointer; */
}

ul {
    height: 100%;
    list-style: none;
}

ul li.item-menu {
    transition: .3s;
}

ul li.ativo {
    background: #167084;
}

ul li.item-menu:hover {
    background: #167084;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4px;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 60px;
    transition: .5s;
    opacity: 0;
}

/* nav.menu-lateral.expandir .txt-link {
    margin-left: 30px;
    opacity: 1;
}
nav.menu-lateral.expandir .logo {
    left: 50px;
    top: 10px;
    opacity: 1;
} */
nav.menu-lateral:hover .txt-link {
    margin-left: 30px;
    opacity: 1;
}
nav.menu-lateral:hover .logo {
    left: 50px;
    top: 10px;
    opacity: 1;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 10px;
}

iframe {
    margin-left: 60px;
    width: 100%;
}

.tsi {
    max-width: 300px;
}