

body {
    gap: 50px;
    margin: 0;
    height: 100vh;
    color: #fff;
    position: relative;
    font-family: "Arial", sans-serif;
    background-image: url("/img/fundo.png");
    background-size: 100%;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-conteiner {
    width: 350px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(360deg, #196F82 0%, #25A3BF 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 40px;
}

.sub-title {
    font-weight: 700;
}

#game-info {
    margin-bottom: 20px;
}

#game-info p {
    text-align: left;
    margin: 8px 0;
}
/* #timer {
    position: absolute;
    top: 11%;
    left: auto;
    text-align: center;
    margin: auto;
    font-size: 40px;
} */

.word-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 24px;
}

.word-display span {
    margin: 0 1px;
    font-size: 32px;
}

.word-input {
    width: 250px;
    text-align: center;
    padding:10px;
    font-size: 18px;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.correct {
    color: #ff5757 !important;
}


/* Personalizando a barra de rolagem no Chrome, Safari, e Edge */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #005878; /* Cor de fundo da trilha da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #ffffff; /* Cor da parte que você arrasta */
    border-radius: 6px; /* Borda arredondada */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da parte que você arrasta ao passar o mouse */
}