body {
    font-family: Arial, sans-serif;
    /* background-color: #101728; */
    background: transparent;
    margin: 0;
    height: 100vh; /* Garantir que a altura da página ocupe toda a tela */
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-conteiner {
    width: 380px;
    background-color: #216e80;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

.sub-title {
    font-weight: 700;
}

#game-info {
    margin-bottom: 20px;
}

#game-info p {
    text-align: left;
    margin: 8px 0;
}

.word-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 24px;
}

.word-display span {
    margin: 0 1px;
    font-size: 35px;
}

.word-input {
    width: 250px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.correct {
    color: #ff5757 !important;
}
