@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
}

body {
    background-image: url("../../assets/_figuras/_backgrounds/fundo.png");
    background-size: 100%;
}

header {
    width: 100%;
    height: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 24px;
}

.line {
    width: 100%;
    border: 1px solid #fff;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.card {
    scale: .8;
    cursor: cell;
    width: 450px;
    height: 205px;
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(360deg, #196F82 0%, #25A3BF 100%);


    animation: anima_scroll linear;
    animation-timeline: view();
    animation-range: entry 00% cover 10%;
}

.card-box {
    display: flex;
    align-items: center;
}
.card i {
    font-size: 100px;
    text-align: center;
    user-select: none;
    margin-right: 10px;
}
.area-title p {
    color: #c6c6c6;
}
.area-button {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-evenly;
}
.area-button button {
    background-color: #135D6D;
    width: 50%;
    height: 45px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    user-select: none;
    transition: .1s;
}
.area-button button:active {
    scale: 1.1;
}
.area-button button:hover {
    background: #15687a;
}


.box-right {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
































.cardTsi {
    width: 300px;
    cursor: cell;
    height: 270px;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(360deg, #196F82 0%, #25A3BF 100%);
}
.cardTsi h2, .cardTsi p {
    max-width: 250px;
    text-align: center;
}
.qrTsi {
    width: 60%;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #000;
}





@keyframes anima_scroll  {
    0% {
        opacity: 0;
        /* transform: translate(-150px); */
    }

    100% {
        opacity: 1;
        /* transform: translate(0px); */
    }
}

/* Rectangle 19 */


